* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html{
  height: 100%
}

body {
  background-color: white;
  color: black;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction:column;
}

p {
  font-size: 15px;
  line-height: 29px;
  text-align: justify;
}

.navbar {
  background-color: #000;
  color: white;
  width: 100%;
  z-index: 100;
  position: fixed;
}

.navbar a {
  float: left;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar .icon {
  display: none;
}

/* @media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #000;
  color: grey;
  transition: color 1s
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  font-size: 20px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.image-area img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  max-width: 100%;
  height: auto;
}

.showcase {
  /* background-image: url('../images/in-game-images/H264-ARCODE-1080-2.png'); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.showcase h1 {
 margin: 0;
 font-size: 80px;
 text-align: center;
 color: grey;
}

.showcase p {
  font-size: 35px;
  text-align: center;
  line-height: 1.9;
  color: grey;
  padding: 20px 130px 10px 130px;
}

.showcase .button {
  font-size: 29px;
  text-decoration: none;
  color: #999;
  border: #999 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.showcase .button:hover {
  background: white;
}

.header {
  position: absolute;
  background-color: #000;
  width: 100%;
  color:white;
  height: 10vh;
}

.footer {
  background-color: #000;
  color:white;
  height: 15vh;
  margin-top: auto;
  text-align: center;
}

.footer h2 {
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #999;
  align: center;
}

.footer h1 {
  font-size: 19px;
  margin-bottom: 10px;
  margin-top: 60px;
  color: #999;
  align: center;
}

.footer a {
  color: #999;
  margin: 20px;
}

.footer .center {
  display: table;
  width: 100%;
}

.footer .social-follow {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  .social {
    padding-left: 0px;
  }
}

.container {
  max-width: 100%;
  margin: 140px;
  background: white;
  overflow: auto;
}

.container-image {
  max-width: 100%;
  margin:15px;
  overflow: auto;
}

.gallery {
  margin: 49px;
  border: 1px solid #ccc;
  float: left;
  width: 360px;
  height: 650px;
}

.gallery img {
  width: 100%;
  height: 500px;
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(100%);
}

.desc {
  color: #fff;
  padding: 15px;
  text-align: center;
}

.border {
  margin-top: 100px;
  background: white;
  width:1080px;
  padding: 3rem;
}

.image {
  width: 100%;
  object-fit: cover;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 100%;
  height: auto;
}

.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-top: 150px;
}

.text-container {
  text-align: center;
  padding: 10px 20px;
}
