<!DOCTYPE html>
{{ $data := index .Site.Data }}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{ $style := resources.Get "css/style.css" | minify}}
  	<link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Baseline VS ARCODE - Fitst Scenario - The client entity is idle in the scene without any camera movement in the scene (H264 - 1080P)</h2>
        </div>
        <img src="/img/charts/Idle- H264- 1080P.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Baseline VS ARCODE - Fitst Scenario - The client entity is idle in the scene without any camera movement in the scene (H264 - 720P)</h2>
        </div>
        <img src="/img/charts/Idle- H264- 720P.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Baseline VS ARCODE - Fitst Scenario - The client entity is idle in the scene without any camera movement in the scene (H265 - 1080P)</h2>
        </div>
        <img src="/img/charts/Idle- H265- 1080P.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Baseline VS ARCODE - Fitst Scenario - The client entity is idle in the scene without any camera movement in the scene (H265 - 720P)</h2>
        </div>
        <img src="/img/charts/Idle- H265- 720P.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Baseline VS ARCODE - Fitst Scenario - The client entity is idle in the scene with camera rotation around it (H264 - 1080P)</h2>
        </div>
        <img src="/img/charts/Rotation- H264- 1080P.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Baseline VS ARCODE - Fitst Scenario - The client entity is moving in the scene with camera following its position (H264 - 1080P)</h2>
        </div>
        <img src="/img/charts/Moving- H264- 1080P.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Baseline VS ARCODE - Boss fight Scenario - The client entity is idle in the scene without any camera movement in the scene (H264 - 1080P)</h2>
        </div>
        <img src="/img/charts/Second- H264- 1080P.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Baseline VS ARCODE - Sensitivity test - The client entity is idle in the scene. NPCs are moving in the scene without using their skills (H264 - 1080P)</h2>
        </div>
        <img src="/img/charts/Third- H264- 1080P.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Baseline VS ARCODE - Sensitivity test - The client entity is idle in the scene. NPCs are continuously using their skills (H264 - 1080P)</h2>
        </div>
        <img src="/img/charts/CUS- H264- 1080P.png">
      </div>
    </div>
  </body>
</html>
