<!DOCTYPE html>
{{ $data := index .Site.Data }}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{ $style := resources.Get "css/style.css" | minify}}
  	<link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <div class="dropdown">
        <button class="dropbtn">Evaluation
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/charts">Distortion Curves</a>
          <a href="/images">In-game Images</a>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
