<!DOCTYPE html>
{{ $data := index .Site.Data }}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{ $style := resources.Get "css/style.css" | minify}}
  	<link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div class="navbar" id="myNavbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <div class="dropdown">
        <button class="dropbtn">Evaluation
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/charts">Distortion Curves</a>
          <a href="/images">In-game Images</a>
        </div>
      </div>
      <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a> -->
    </div>
    <!-- <script>
        function myFunction() {
          var x = document.getElementById("myNavbar");
          if (x.className === "navbar") {
            x.className += " responsive";
          } else {
            x.className = "navbar";
          }
        }
    </script> -->
  </body>
</html>
