<!DOCTYPE html>
{{ $data := index .Site.Data }}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{ $style := resources.Get "css/style.css" | minify}}
  	<link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Comparison of the image quality of the content generated in baseline with the content generated in ARCODE when the client entity is idle in the scene without any camera movement in the scene (H264 - 1080P - 2 Mbps)</h2>
        </div>
        <img src="/img/in-game-images/H264-Baseline-1080-2.png">
        <h3><center>Baseline</center></h3>
        <img src="/img/in-game-images/H264-ARCODE-1080-2.png">
        <h3><center>ARCODE</center></h3>
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Comparison of the image quality of the content generated in baseline with the content generated in ARCODE when the client entity is idle in the scene without any camera movement in the scene (H264 - 720P - 1 Mbps)</h2>
        </div>
        <img src="/img/in-game-images/H264-Baseline-720-1.png">
        <h3><center>Baseline</center></h3>
        <img src="/img/in-game-images/H264-ARCODE-720-1.png">
        <h3><center>ARCODE</center></h3>
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Comparison of the image quality of the content generated in baseline with the content generated in ARCODE when the client entity is idle in the scene without any camera movement in the scene (H265 - 1080P - 2 Mbps)</h2>
        </div>
        <img src="/img/in-game-images/H265-Baseline-1080-2.png">
        <h3><center>Baseline</center></h3>
        <img src="/img/in-game-images/H265-ARCODE-1080-2.png">
        <h3><center>ARCODE</center></h3>
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Comparison of the image quality of the content generated in baseline with the content generated in ARCODE when the client entity is idle in the scene without any camera movement in the scene (H265 - 720P - 1 Mbps)</h2>
        </div>
        <img src="/img/in-game-images/H265-Baseline-720-1.png">
        <h3><center>Baseline</center></h3>
        <img src="/img/in-game-images/H265-ARCODE-720-1.png">
        <h3><center>ARCODE</center></h3>
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Comparison of the image quality of the content generated in baseline with the content generated in ARCODE when the client entity is idle in the scene with the camera rotation around it (H264 - 1080P - 4 Mbps)</h2>
        </div>
        <img src="/img/in-game-images/CameraRotation-H264-Baseline-1080-4.png">
        <h3><center>Baseline</center></h3>
        <img src="/img/in-game-images/CameraRotation-H264-ARCODE-1080-4.png">
        <h3><center>ARCODE</center></h3>
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Comparison of the image quality of the content generated in baseline with the content generated in ARCODE when the client entity is moving in the scene with camera following its position (H264 - 1080P - 4 Mbps)</h2>
        </div>
        <img src="/img/in-game-images/CameraTranslation-H264-Baseline-1080-4.png">
        <h3><center>Baseline</center></h3>
        <img src="/img/in-game-images/CameraTranslation-H264-ARCODE-1080-4.png">
        <h3><center>ARCODE</center></h3>
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Boss fight scenario - Comparison of the image quality of the content generated in baseline with the content generated in ARCODE when the client entity is idle in the scene (H264 - 1080P - 4 Mbps)</h2>
        </div>
        <img src="/img/in-game-images/bossFight-H264-Baseline-1080-4.png">
        <h3><center>Baseline</center></h3>
        <img src="/img/in-game-images/bossFight-H264-ARCODE-1080-4.png">
        <h3><center>ARCODE</center></h3>
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Sensitivity test - Comparison of the image quality of the content generated in baseline with the content generated in ARCODE when the client entity is idle in the scene, and NPCs are moving in the scene without using their skills (H264 - 1080P - 2 Mbps)</h2>
        </div>
        <img src="/img/in-game-images/relax-H264-Baseline-1080-2.png">
        <h3><center>Baseline</center></h3>
        <img src="/img/in-game-images/relax-H264-ARCODE-1080-2.png">
        <h3><center>ARCODE</center></h3>
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>Sensitivity test - Comparison of the image quality of the content generated in baseline with the content generated in ARCODE when the client entity is idle in the scene, and NPCs are continuously using their skills (H264 - 1080P - 2 Mbps)</h2>
        </div>
        <img src="/img/in-game-images/intense-H264-Baseline-1080-4.png">
        <h3><center>Baseline</center></h3>
        <img src="/img/in-game-images/intense-H264-ARCODE-1080-4.png">
        <h3><center>ARCODE</center></h3>
      </div>
    </div>
  </body>
</html>
