<!DOCTYPE html>
{{ $data := index .Site.Data }}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{ $style := resources.Get "css/style.css" | minify}}
  	<link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div>
      <div class="polaroid">
        <div class="text-container">
          <h2>The calculated SR-BD-Rate and SR-BD-PSNR under various target bit rates chosen on Moonlight for our proposed model and the baseline without the client entity and the camera movement in the main scenario (H.264 - 1080P)</h2>
        </div>
        <img src="/img/tables/first-idle-h264-1080.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>The calculated SR-BD-Rate and SR-BD-PSNR under various target bit rates chosen on Moonlight for our proposed model and the baseline without the client entity and the camera movement in the main scenario (H.264 - 720P)</h2>
        </div>
        <img src="/img/tables/first-idle-h264-720.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>The calculated SR-BD-Rate and SR-BD-PSNR under various target bit rates chosen on Moonlight for our proposed model and the baseline without the client entity and the camera movement in the main scenario (H.265 - 1080P)</h2>
        </div>
        <img src="/img/tables/first-idle-h265-1080.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>The calculated SR-BD-Rate and SR-BD-PSNR under various target bit rates chosen on Moonlight for our proposed model and the baseline without the client entity and the camera movement in the main scenario (H.265 - 720P)</h2>
        </div>
        <img src="/img/tables/first-idle-h265-720.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>The calculated SR-BD-Rate and SR-BD-PSNR under various target bit rates chosen on Moonlight for our proposed model and the baseline with camera rotation in the main scenario (H.264 - 1080)</h2>
        </div>
        <img src="/img/tables/first-rotation-h264-1080.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>The calculated SR-BD-Rate and SR-BD-PSNR under various target bit rates chosen on Moonlight for our proposed model and the baseline with camera translation in the main scenario (H.264 - 1080)</h2>
        </div>
        <img src="/img/tables/first-translation-h264-1080.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>The calculated SR-BD-Rate and SR-BD-PSNR under various target bit rates chosen on Moonlight for our proposed model and the baseline without the client entity and the camera movement in the boss fight scenario (H.264 - 1080P)</h2>
        </div>
        <img src="/img/tables/bossfight-idle-h264-1080.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>The calculated SR-BD-Rate and SR-BD-PSNR under various target bit rates chosen on Moonlight for our proposed model and the baseline with client entity idle and the NPCs are moving in the scene without using their skills in the sensitivity test (H.264 - 1080P)</h2>
        </div>
        <img src="/img/tables/relax-idle-h264-1080.png">
      </div>
      <div class="polaroid">
        <div class="text-container">
          <h2>The calculated SR-BD-Rate and SR-BD-PSNR under various target bit rates chosen on Moonlight for our proposed model and the baseline with client entity idle and the NPCs are continuously using their skill in the sensitivity test (H.264 - 1080P)</h2>
        </div>
        <img src="/img/tables/intense-idle-h264-1080.png">
      </div>
    </div>
  </body>
</html>
